*{
    font-family: 'Poppins';
}

.div1 {
    margin-top: 200px;
    padding: 0px 100px;
    margin-bottom: 100px;
}

.div1-div {
    border: 1px solid grey ;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon {
    display: flex;
    

}

.icon i{
    font-size: 30px;
    padding-top: 15px;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ax{
    font-size: 20px;
}

.div1-div1 {
    width: 45%;
    padding-right: 20px;
}

.div1-div2 {
    width: 45%;
}

form {
     display: flex;
     flex-direction: column;
}

#fname, #pnumber, #mail, #msg {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}