@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.order_topic {
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #1e1e1e;
}
.from_fulll_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.from_fulll {
  margin: 0 auto;
  width: 750px;
  border: 1px solid #1e1e1e;
  padding: 15px;
  border-radius: 8px;
}
.from_deliver {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
label {
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
input {
  width: 350px;
  margin: 3px 0 8px 0;
  border: 1px solid #1e1e1e;
  border-radius: 2px;
  padding: 3px 8px;
}
.subtopic {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}
select {
  width: 350px;
  margin: 3px 0 8px 0;
  border: 1px solid #1e1e1e;
  border-radius: 2px;
  padding: 3px 8px;
  resize: none;
}
textarea {
  width: 350px;
  margin: 3px 0 8px 0;
  border: 1px solid #1e1e1e;
  border-radius: 2px;
  padding: 3px 8px;
  resize: none;
}
.formbt {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dligi {
  width: 350px;
  border-radius: 5px;
  height: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* .fuldisplage {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  justify-content: start;
} */

.discolum {
  width: 300px;
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
}
.propng {
  width: 80px;
  text-align: center;
  margin: 15px auto;

  display: flex;
}
.womenusrr {
  width: 90px;
  text-align: center;
  margin: 25px 0;
  display: flex;
  margin: 0 auto;
  border-radius: 1000%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 19px;
  margin-top: 8px;
}
.email {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 2px 0 25px 0;
}
.posisan {
  text-align: start;
  text-transform: capitalize;
  font-weight: 500;
  color: #4f4e4e;
  font-size: 17px;
  margin-bottom: 40px;
}
.action_sidee {
  display: flex;
  gap: 15px;
  justify-content: start;
  margin: 15px 0;
  padding: 7px;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
  align-items: center;
}
.action_sidee:hover {
  border-radius: 0 50px 50px 0;
  background-color: #4f4e4e4c;
}
.action_sidee_active {
  border-radius: 0 50px 50px 0;
  background-color: #4f4e4e4c;
}
a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: white;
}
.side_icon {
  width: 25px;
}
.discolunew {
  display: flex;
  gap: 15px;
  margin-left: 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main_left {
  padding: 25px;
}
.a_side {
  color: #1e1e1e;
  gap: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn_dash {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-left: 300px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delivery-card {
  background-color: #4f4e4e03;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  width: 350px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.delivery-avialible {
  text-align: center;
  border: 1px solid #1e1e1e;
  width: 100%;
  padding: 5px;
  border-radius: 50px;
}
.delivery-name {
  text-align: center;

  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 5px;
}
.delivery_data_topic {
  color: #4f4e4e;
  text-transform: uppercase;
  margin: 5px 0;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}
.delivery-data {
  margin: 3px 0;
}
.delivery-card-actions {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
}
.delivery-update-btn {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.delivery-delete-btn {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.rating {
  display: inline-flex;
  direction: row-reverse;
  font-size: 2rem;
  justify-content: center;
  padding: 0.5rem;
}
