body
{
    background:whitesmoke ; 
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    margin: 0px;
    padding: 0px;
}
.header
{
    position: sticky !important;
    display: flex ;
    padding: 0px;
    width: 100%; 
    margin: auto;
    background-color: whitesmoke;
}
.headerbox
{
    margin: 5px;
    width: 30%;
}
.logoimg
{
    width: 50%; 
    margin: auto 10px;
    height: 90px;
}
.searchbox
{
    position: relative;
    display: flex;
    width: 30%;
    margin: auto;
    padding: 10px 20px;
    border-radius: 15px;
    border: black solid 1px;
    background-color: white;
    align-items: center;
}
.Stext
{
    width: 90%;
    padding: 5px;
    border: none;
    height: 15px;
    background-color: rgba(240, 248, 255, 0);
    color: black;
    font-size: 16px;
    outline-style: none;
}
::placeholder
{
    color: black;
    font-size: 16px;
}
.headerboxs
{
    width: 35%;
    margin: auto;
    display: inline-flex;
    padding: 0px;
}
.signin
{
    width: 17%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    text-align:  center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
}
.shape
{
    font-size: 30px !important;
    margin: auto;
    display: block;
    color: black;
    padding: 10px;
}
.shape:hover
{
    color: white;
    background-color: #121212;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.login
{
    width: 17%;
    padding: 8px;
    border: 1px solid black;
    background-color: rgba(88, 88, 88, 0.238);
    border-radius: 20px;
    text-align:  center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    display: flex;
}
.nav
{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);

}
.nostyle
{
    font-family: "Roboto Condensed", sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    margin: auto;
    display: block;
    padding: 0px;
    width: auto;
}

.navbox
{
    position: absolute;
    width: 750px;
    height: 250px;
    left: 100px;
    z-index: 1;
     
}
.nostyle:hover + .navdetailsMen {
    display: flex;
    margin: auto;
    width: 100%;
    background-color: red;
}
.navdetailsMen
{
    display: flex   ;  
    margin: auto;
    width: 100%;
    background-color: red;
}
ul
{
    list-style: none;
}
.innernavCap
{
    font-size: 18px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.innernav
{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.signinbox
{
    position: relative;
    margin:50px auto;
    padding: 20px;
    width: 40%;
    height: 550px;
    border: 1px solid black;
    border-radius: 20px;
}
.headd
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    margin: auto;
    width: 90%;
    display: block;
    text-align: center;
    padding: 20px;
}
.signparaa
{
    font-family: "Roboto Condensed", sans-serif;
    width: 73%;
    margin: 20px auto 10px;
    font-weight: 500;
}
.signpara
{
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    text-align: center;
    margin: auto;
}
.inputbox
{
    display: block;
    width: 70%;
    height: 25px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid black;

}

input[type=checkbox]
{
    width: 15px;
    height: 15px;
    margin: 5px;
}
.marginpara
{
    display: flex;
    margin: 20px auto;
}
.submitbtn
{
    background-color: rgb(0, 94, 255);
    border-radius: 12px;
    padding: 8px;
    width: 40%;
    font-family: "Poppins", sans-serif;
    margin: auto;
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.footerboxes
{
    display: flex;
    background-color: whitesmoke;
    height: 180px;
    padding: 30px;
    margin: 0px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footerbox
{
    width: 20%;
    margin: auto;
    text-decoration: none;
    padding: 0px;
}
.footerlink,a
{
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important; 
    color: rgb(29, 29, 29);
    text-align: left;
    font-size: 14px;
}
.footerlinkCAP
{
    list-style: none;
    text-align: left;
    font-weight: 700;
    font-size: 50px !important;
    color: black;
    margin-bottom: 10px;
}
footer
{
    width: 100%;
    height: min-content;
    bottom: 0px !important;
    margin: 0px;
    padding: 0px;
}
.width60
{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align:left ;
    width: 75%;
    padding: 10px;
}
.width40
{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align:right ;
    width: 25%;
    padding: 10px 20px;
}

.para
{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: black;
}